*{
    width: 500px;
}

input{
    display: block;
    margin-bottom: 30px;
}

p{
    color: gray;
    font-size: 12px;
    width: 280px;
}
.subtext{
   font-size: 11px;
}
.d7{
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(173, 158, 158);
    border-width: 1px;
}

.e7{
    width: 250px;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(109, 100, 100, 0.20);
}

.f7{
    margin-bottom: 0;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-color: rgba(41, 40, 40,0.5);
    border-radius: 3px;
    border-style: solid;
}

.email{
    margin-bottom: 0;
    line-height: 25px;
}

.agreebtn{
    background-color: rgb(12, 99, 231);
    color: white;
    border-radius: 15px;
    border-style: none;
    padding: 12px 40px;
    margin-bottom: 15px;
    width: 250px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;

}

.bird{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

div{
    display: flex;
}

.g7{
    width: 250px;
    height: 20px;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-left: 2px;
    margin-right: 1px;
    border-style: none;
    color: black;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.tweetbtn{
    width: 70px;
    height: 28px;
    border-radius: 15px;
    background-color: rgb(34, 138, 236);
    color: white;
    padding: 2px;
    border-style: none;
    font-weight: 700;
    margin-top: 6px;
    cursor: pointer;
    transition: background-color 1s;
}

.tweetbtn:hover{
    background-color: rgb(0, 75, 187);
}