button{
    background-color: green;
    color: white;
    border-style: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: all 1s;
}

button:hover{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    }